<div class="conteiner p-3">
  <div class="row row-cols-3 mt-3">
    <% @items.includes(:product).each do |item| %>
      <div class="card m-2 p-1 col-3">
        <h4 class="card-title"><%= item.product.title %></h4>
        <p class="card-text"><%= item.product.description.truncate(100) %></p>
        <p class="text-success">Price: <%= item.product.price %></p>
        <p class="text-success">Quantity: <%= item.quantity %></p>
        <p>
          <%= link_to product_order_item_path(product_id: item.product_id, id: item.id, method: :increment),
                      data: { 'turbo-method': :put },
                      title: '+1',
                      class: 'text-decoration-none' do %>
            <i class="fa-solid fa-circle-plus fa-2x text-success"></i>
          <% end %>
          <%= link_to product_order_item_path(product_id: item.product_id, id: item.id, method: :decrement),
                      data: { 'turbo-method': :put },
                      title: '-1',
                      class: 'text-decoration-none' do %>
            <i class="fa-solid fa-circle-minus fa-2x text-danger"></i>
          <% end %>
          <%= link_to product_order_item_path(product_id: item.product_id, id: item.id),
                      data: { 'turbo-method': :delete },
                      title: 'delete',
                      class: 'text-decoration-none' do %>
            <i class="fa-solid fa-trash-can-arrow-up fa-2x text-warning"></i>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to 'Complete Order', checkout_orders_path,
              class: "btn btn-outline-success" %>
</div>