<%= form_tag products_path, method: :get do %>
  <%= hidden_field_tag :price, params[:price] if params[:price].present? %>

  <div class="categories my-3">
    <p><b>Categories:</b></p>
    <ul class="category">
      <% @categories.each do |category| %>
        <li>
          <%= check_box_tag 'category_ids[]',
                            category.id,
                            !!params[:category_ids]&.include?(category.id.to_s),
                            id: "cb#{ category.id }",
                            remote: true %>
          <label for="cb#{ category.id }" class="text-dark"><%= category.title %></label>
          <b class="text-dark"><%= category.products_count %></b>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="price my-3">
    <p><b>Price:</b></p>
    <%= text_field_tag :min_price, nil, class: 'form-control', placeholder: 'Min', value: params[:min_price] %>
    <br>
    <%= text_field_tag :max_price, nil, class: 'form-control', placeholder: 'Max', value: params[:max_price] %>
    <hr>
    <%= submit_tag 'Find', class: 'btn btn-success' %>
  </div>
<% end %>